In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import classification_report, confusion_matrix
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
labelencoder=LabelEncoder()
data['Gender'] = labelencoder.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [5]:
from sklearn.preprocessing import OneHotEncoder
ohe_geo=OneHotEncoder()
data_geo=ohe_geo.fit_transform(data[['Geography']]).toarray()
data_geo

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [6]:
data_geo=pd.DataFrame(data_geo,columns=ohe_geo.get_feature_names_out(['Geography']))
data_geo

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
data = pd.concat([data,data_geo],axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,France,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,France,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
data=data.drop(['Geography'],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [9]:
X=data.drop(['EstimatedSalary'],axis=1)
y=data['EstimatedSalary']

In [10]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [11]:
scaler=StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [12]:
X_train.shape

(8000, 12)

In [13]:
X_train.shape[1]

12

### Ann Implementation

In [14]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [22]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)
])

d:\gen ai udemy\ann chrun classification\virt\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [23]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [24]:
model.compile(optimizer='adam',loss='mean_squared_error',metrics=['mse'])

In [25]:
earlystoppingcallbacks= EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [26]:
reg_log_dir = 'regressionlog/fit'+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback=TensorBoard(log_dir=reg_log_dir,histogram_freq=1)

In [27]:
history= model.fit(X_train,y_train,
                   validation_data=[X_test,y_test],
                   epochs=100,
                   callbacks=[earlystoppingcallbacks,tensorboard_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 7ms/step - loss: 13444756480.0000 - mse: 13444756480.0000 - val_loss: 13011913728.0000 - val_mse: 13011913728.0000
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 13119535104.0000 - mse: 13119535104.0000 - val_loss: 12750645248.0000 - val_mse: 12750645248.0000
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 12782619648.0000 - mse: 12782619648.0000 - val_loss: 12080793600.0000 - val_mse: 12080793600.0000
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 12299298816.0000 - mse: 12299298816.0000 - val_loss: 10946897920.0000 - val_mse: 10946897920.0000
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 10919994368.0000 - mse: 10919994368.0000 - val_loss: 9428788224.0000 - val_mse: 9428788224.0000
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 9134976000.0000 - mse: 9134976000.0000 - val_loss: 7741754368.0000 - val_mse: 7741754368.0000
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 7538892800.0000 - mse: 7538892800.0000 - val_loss: 6166908928.0000 - val_mse: 6166908928.0000
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 6078299136.0000 - mse: 6078299136.0000 - val_loss: 4935995904.0000 - val_mse: 4935995904.0000
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 4820192256.0000 - mse: 4820192256.0000 - val_loss: 4144539648.0000 - val_mse: 4144539648.0000
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 4013793536.0000 - mse: 4013793536.0000 - val_loss: 3736325888.0000 - val_mse: 3736325888.0000
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 3642991104.0000 - mse: 3642991104.0000 - val_loss: 3565234944.0000 - val_mse: 3565234944.0000
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 3544279808.0000 - mse: 3544279808.0000 - val_loss: 3501590784.0000 - val_mse: 3501590784.0000
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 3385187072.0000 - mse: 3385187072.0000 - val_loss: 3473465088.0000 - val_mse: 3473465088.0000
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 3421793024.0000 - mse: 3421793024.0000 - val_loss: 3457092608.0000 - val_mse: 3457092608.0000
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 3412403200.0000 - mse: 3412403200.0000 - val_loss: 3444408832.0000 - val_mse: 3444408832.0000
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 3393552896.0000 - mse: 3393552896.0000 - val_loss: 3434093312.0000 - val_mse: 3434093312.0000
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 3310976256.0000 - mse: 3310976256.0000 - val_loss: 3424121344.0000 - val_mse: 3424121344.0000
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 3344759552.0000 - mse: 3344759552.0000 - val_loss: 3415269376.0000 - val_mse: 3415269376.0000
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 3363667456.0000 - mse: 3363667456.0000 - val_loss: 3408867072.0000 - val_mse: 3408867072.0000
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 3342687744.0000 - mse: 3342687744.0000 - val_loss: 3402296832.0000 - val_mse: 3402296832.0000
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 3340766976.0000 - mse: 3340766976.0000 - val_loss: 3396696576.0000 - val_mse: 3396696576.0000
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 3334844672.0000 - mse: 3334844672.0000 - val_loss: 3391868160.0000 - val_mse: 3391868160.0000
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 3346401536.0000 - mse: 3346401536.0000 - val_loss: 3388391680.0000 - val_mse: 3388391680.0000
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 3378899968.0000 - mse: 3378899968.0000 - val_loss: 3384934656.0000 - val_mse: 3384934656.0000
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 13ms/step - loss: 3358446080.0000 - mse: 3358446080.0000 - val_loss: 3381443328.0000 - val_mse: 3381443328.0000
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 3331463168.0000 - mse: 3331463168.0000 - val_loss: 3379574016.0000 - val_mse: 3379574016.0000
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 3313089792.0000 - mse: 3313089792.0000 - val_loss: 3376245760.0000 - val_mse: 3376245760.0000
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 3314490880.0000 - mse: 3314490880.0000 - val_loss: 3374603520.0000 - val_mse: 3374603520.0000
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 3305767424.0000 - mse: 3305767424.0000 - val_loss: 3371321856.0000 - val_mse: 3371321856.0000
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 3258269440.0000 - mse: 3258269440.0000 - val_loss: 3369962496.0000 - val_mse: 3369962496.0000
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 10ms/step - loss: 3301851136.0000 - mse: 3301851136.0000 - val_loss: 3369469952.0000 - val_mse: 3369469952.0000
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 3309258240.0000 - mse: 3309258240.0000 - val_loss: 3366698240.0000 - val_mse: 3366698240.0000
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 3271143680.0000 - mse: 3271143680.0000 - val_loss: 3365339648.0000 - val_mse: 3365339648.0000
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 3258492416.0000 - mse: 3258492416.0000 - val_loss: 3364396544.0000 - val_mse: 3364396544.0000
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 3308267520.0000 - mse: 3308267520.0000 - val_loss: 3363117568.0000 - val_mse: 3363117568.0000
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 3283095040.0000 - mse: 3283095040.0000 - val_loss: 3362988544.0000 - val_mse: 3362988544.0000
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 16ms/step - loss: 3288284928.0000 - mse: 3288284928.0000 - val_loss: 3362459904.0000 - val_mse: 3362459904.0000
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 16ms/step - loss: 3309911040.0000 - mse: 3309911040.0000 - val_loss: 3362076928.0000 - val_mse: 3362076928.0000
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 3299476736.0000 - mse: 3299476736.0000 - val_loss: 3360797696.0000 - val_mse: 3360797696.0000
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 14ms/step - loss: 3277673472.0000 - mse: 3277673472.0000 - val_loss: 3360503552.0000 - val_mse: 3360503552.0000
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 3305963264.0000 - mse: 3305963264.0000 - val_loss: 3361269760.0000 - val_mse: 3361269760.0000
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 3304653824.0000 - mse: 3304653824.0000 - val_loss: 3360634880.0000 - val_mse: 3360634880.0000
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 3293964288.0000 - mse: 3293964288.0000 - val_loss: 3359598848.0000 - val_mse: 3359598848.0000
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 3266801408.0000 - mse: 3266801408.0000 - val_loss: 3358182912.0000 - val_mse: 3358182912.0000
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 3266084352.0000 - mse: 3266084352.0000 - val_loss: 3359260160.0000 - val_mse: 3359260160.0000
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 3249728000.0000 - mse: 3249728000.0000 - val_loss: 3358607360.0000 - val_mse: 3358607360.0000
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 3324811008.0000 - mse: 3324811008.0000 - val_loss: 3358693888.0000 - val_mse: 3358693888.0000
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - loss: 3284780288.0000 - mse: 3284780288.0000 - val_loss: 3357794304.0000 - val_mse: 3357794304.0000
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 3280495616.0000 - mse: 3280495616.0000 - val_loss: 3357070336.0000 - val_mse: 3357070336.0000
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 3311975680.0000 - mse: 3311975680.0000 - val_loss: 3357463296.0000 - val_mse: 3357463296.0000
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 3310347264.0000 - mse: 3310347264.0000 - val_loss: 3356590336.0000 - val_mse: 3356590336.0000
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 3293650176.0000 - mse: 3293650176.0000 - val_loss: 3357232896.0000 - val_mse: 3357232896.0000
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 16ms/step - loss: 3313003520.0000 - mse: 3313003520.0000 - val_loss: 3356280064.0000 - val_mse: 3356280064.0000
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 13ms/step - loss: 3342023168.0000 - mse: 3342023168.0000 - val_loss: 3356327680.0000 - val_mse: 3356327680.0000
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 3232670976.0000 - mse: 3232670976.0000 - val_loss: 3357027840.0000 - val_mse: 3357027840.0000
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 3280774400.0000 - mse: 3280774400.0000 - val_loss: 3359104256.0000 - val_mse: 3359104256.0000
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 3295287808.0000 - mse: 3295287808.0000 - val_loss: 3356169216.0000 - val_mse: 3356169216.0000
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 3325563904.0000 - mse: 3325563904.0000 - val_loss: 3356374528.0000 - val_mse: 3356374528.0000
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 3299292416.0000 - mse: 3299292416.0000 - val_loss: 3356605952.0000 - val_mse: 3356605952.0000
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 3273655040.0000 - mse: 3273655040.0000 - val_loss: 3355585792.0000 - val_mse: 3355585792.0000
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 10ms/step - loss: 3269601024.0000 - mse: 3269601024.0000 - val_loss: 3356918528.0000 - val_mse: 3356918528.0000
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 3323444480.0000 - mse: 3323444480.0000 - val_loss: 3356737280.0000 - val_mse: 3356737280.0000
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 3327631104.0000 - mse: 3327631104.0000 - val_loss: 3357278976.0000 - val_mse: 3357278976.0000
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 3272183296.0000 - mse: 3272183296.0000 - val_loss: 3356858880.0000 - val_mse: 3356858880.0000
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 3271774720.0000 - mse: 3271774720.0000 - val_loss: 3357517056.0000 - val_mse: 3357517056.0000
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 13ms/step - loss: 3235133440.0000 - mse: 3235133440.0000 - val_loss: 3356763648.0000 - val_mse: 3356763648.0000
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 3300691456.0000 - mse: 3300691456.0000 - val_loss: 3357056000.0000 - val_mse: 3357056000.0000
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 3288034304.0000 - mse: 3288034304.0000 - val_loss: 3357421824.0000 - val_mse: 3357421824.0000
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 3244195328.0000 - mse: 3244195328.0000 - val_loss: 3356840192.0000 - val_mse: 3356840192.0000
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 3277028096.0000 - mse: 3277028096.0000 - val_loss: 3356932096.0000 - val_mse: 3356932096.0000

In [21]:
model.save('regression_salary_prediction.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [30]:
## evaluate the model on test data
test_loss,test_mse=model.evaluate(X_test,y_test)
print(f'test MSE:{test_mse}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 3420126720.0000 - mse: 3420126720.0000
test MSE:3355585792.0

In [31]:
%load_ext tensorboard

In [35]:
%tensorboard --logdir regressionlog/fit20250629-184239

Reusing TensorBoard on port 6007 (pid 8360), started 0:00:22 ago. (Use '!kill 8360' to kill it.)